<html>

<head>
</head>

<body>
  <%- include('student_add_modal'); %>
    <%- include('interview_add_modal'); %>
      <h3 style="text-align: center;">Student List</h3>
        <div id="student-details-container">
          <ul id="student-details-ul-container">
            <% for(i of student_list) {%>
              <%- include('student_details_list', {i, company_list})%>
            <% } %>
          </ul>
        </div>
</body>

</html>


<!-- <script type="text/javascript" src="/js/accordian.js"></script> -->