<!-- Button trigger modal -->
<button   type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterAddCompany">
  Add Company
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenterAddCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:16px;">
          <form id="company-add-form-submit" action="/company/create" method="POST" class="sign-in-form">
              <div class="form-group">
                <label class="required" for="companyName">Company Name</label>
                <input required name="companyName"  type="input" class="form-control form-control-sm" id="companyName" placeholder="enter Company Name" value="" autocomplete="off">
              </div>
            <div class="form-group">
               <label class="required" for="date">Date:</label>
                 <br>
               <input required type="date" class="form-control form-control-sm" id="date" name="date">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="company-add-form-close-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="addCompany('company-add-form-submit')" type="button" class="btn btn-primary">Save changes edit</button>
      </div>
    </div>
  </div>
</div>

