header{
    ul{
        list-style-type:none;
        display:flex;
        li{
            padding: 0px 10px;
            padding-top:4px;
            align-items: center;
            display: flex;
        }
    }
}